<% include ./partials/header.ejs %>

<div class="w-full h-screen bg-zinc-500 flex justify-center items-center">
   <div class="w-[24rem] bg-zinc-400 px-3 py-3 rounder rounded-md">
    <h1 class="text-4xl tracking-tighter capitalize text-center text-zinc-700 leading-none">Wel come to pinterest</h1>
    <form action="/register" method="post">
      <input class="rounded-md block my-2 w-full px-3 py-2" type="text" name="fullname" placeholder="fullname">
      <input class="rounded-md block my-2 w-full px-3 py-2" type="text" name="username" placeholder="username">
      <input class="rounded-md block my-2 w-full px-3 py-2" type="email" name="email" placeholder="email">
      <input class="rounded-md block my-2 w-full px-3 py-2" type="number" name="number" placeholder="number">
      <input class="rounded-md block my-2 w-full px-3 py-2" type="password" name="password" placeholder="password">
      <input class="inline-block my-2 w-full px-3 py-2 bg-red-600 capitalize mt-7 pointer rounded-full text-white font-bold" type="submit" value="Create new account">

      <p class="my-3 mx-5 tracking-tighter text-center">By continuing, you agree to Pinterest's Business <a class="text-zinc-700 border-b-2 font-bold" href="#">Terms of Service</href=>; Opens a new tab and acknowledge you've read our <a href="#" class="text-zinc-700 border-b-2 font-bold">Privacy Policy</a></p>
    </form>
    <a href="/" class="w-full mt-7 font-semibold text-center capitalize inline-block" >Login existing account</a>
   </div>
</div>

<% include ./partials/footer.ejs %>